@model Firefighters.Web.Data.Entities.Elemento

@{
    ViewData["Title"] = "Detalles";
}

<h4>Detalle Elemento</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Modelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Marca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Marca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NroSerie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NroSerie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Codigo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Codigo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FabricacionFecha)
        </dt>
        <dd class="col-sm-10">
            @if (Model.FabricacionFecha != null)
            {@Model.FabricacionFecha.Value.ToString("dd/MM/yyyy")}
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompraFecha)
        </dt>
        <dd class="col-sm-10">
            @if (Model.CompraFecha != null)
            {@Model.CompraFecha.Value.ToString("dd/MM/yyyy")}
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VencimientoFecha)
        </dt>
        <dd class="col-sm-10">
            @if (Model.VencimientoFecha != null)
            {@Model.VencimientoFecha.Value.ToString("dd/MM/yyyy")}
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titular)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titular)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Area.AreaName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ubicacion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ubicacion.UbicacionElemento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Activo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Activo)
        </dd>
        <dt class="col-sm-2">
            @if (Model.BajaFecha != null)
            { @Html.DisplayNameFor(model => model.BajaFecha)}
        </dt>
        <dd class="col-sm-10">
            @if (Model.BajaFecha != null)
            {@Model.BajaFecha.Value.ToString("dd/MM/yyyy")}
        </dd>
    </dl>
</div>
<hr />
<div>
    <a class="col-md-4" asp-action="Edit" asp-route-id="@Model.ElementoID">Editar</a>|
    <a class="col-md-8" asp-action="AddImage" asp-route-id="@Model.ElementoID">Agregar Imagen</a>|
    <a class="col-md-8" asp-action="AddComprobante" asp-route-id="@Model.ElementoID">Agregar Comprobante</a>|
    <a class="col-md-12" asp-action="Index">Volver a la Lista</a>
</div>
<hr />
<br />
<div class="row">
    <div class="col-md-6">
        <div>

            @if (Model.ElementoImages.Count == 0)
            {
                <h5>No Tiene Fotos Cargadas</h5>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Imagenes</th>
                            <th> </th>
                            <th> </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ElementoImages)
                        {
                            <tr>
                                <td>
                                    @if (!string.IsNullOrEmpty(item.ImageUrl))
                                    {
                                        <img src="@Url.Content(item.ImageUrl)" alt="@item.ElementoImageId" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                    }
                                </td>

                                @if (!string.IsNullOrEmpty(item.ImageFullPath))
                                {
                                    <td>@Html.ActionLink("Abrir", "DownloadImage", new { ImagePath = @item.ImageUrl }, new { target = "_blank" })</td>
                                }

                                <td>
                                    <button data-id="@item.ElementoImageId" class="btn-sm btn-danger deleteImage" data-toggle="modal" data-target="#deleteDialog">Eliminar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
    <div class="col-md-6">
        @if (Model.ElementoComprobantes.Count == 0)
        {
            <h5>No Tiene Comprobantes Cargados</h5>
        }
        else
        {
    <table class="table">
        <thead>
            <tr>
                <th>Comprobantes</th>
                <th> </th>
                <th> </th>

            </tr>
        <tbody>
            @foreach (var item in Model.ElementoComprobantes)
            {
                <tr>
                    <td>
                        @if (!string.IsNullOrEmpty(item.ComprobanteUrl))
                        {
                            <text> @item.ComprobanteNombre.ToString() </text>
                        }
                    </td>

                    @if (!string.IsNullOrEmpty(item.ComprobanteFullPath))
                    {
                        <td>@Html.ActionLink("Abrir", "DownloadComprobante", new { ComprobantePath = @item.ComprobanteUrl }, new { target = "_blank" })</td>
                    }


                    <td>
                        <button data-id="@item.ElementoComprobanteId" class="btn-sm btn-danger deleteImage" data-toggle="modal" data-target="#deleteDialog">Eliminar</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
        }
    </div>

</div>


<partial name="_DeleteDialog" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;
            var action_to_delete;

            $('.deleteImage').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 1;
            });

            $('.deleteComprobante').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
                action_to_delete = 2;
            });

            $("#btnYesDelete").click(function () {
                if (action_to_delete == 1) {
                    window.location.href = '/Elementos/DeleteImage/' + item_to_delete;
                } else {
                    window.location.href = '/Elementos/DeleteComprobante/' + item_to_delete;
                }
            });
        });
    </script>

}
