@model IEnumerable<Firefighters.Web.Data.Entities.Elemento>

@{
    ViewData["Title"] = "Index";
}

    <h2 class="text-center">ELEMENTOS</h2>
@*TODO: ACOMODAR TABLA*@
<p>
    <a asp-action="Create">Crear Elemento</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NroSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Codigo)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.FabricacionFecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompraFecha)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.VencimientoFecha)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>*@
            @*<th>
            @Html.DisplayNameFor(model => model.Activo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BajaFecha)
        </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Area.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion.UbicacionElemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NroSerie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Codigo)
            </td>
            @*<td>              
                @item.FabricacionFecha?.ToString("dd/MM/yyyy")
            </td>*@
            @*<td>
               
                @item.CompraFecha?.ToString("dd/MM/yyyy")
            </td>*@
            <td>
                @item.VencimientoFecha?.ToString("dd/MM/yyyy")
            </td>
            @*<td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>*@
            @*<td>
            @Html.DisplayFor(modelItem => item.Activo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BajaFecha)
        </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion.UbicacionElemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ElementoID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ElementoID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.ElementoID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
