@model IEnumerable<Firefighters.Web.Data.Entities.Elemento>

@{
    ViewData["Title"] = "Index";
}

<h2 class="text-center">ELEMENTOS</h2>

<p>
    <a asp-action="Create" class="btn btn-success"><i class="fas fa-plus-square"></i>&nbsp;Elemento</a>|
    <a asp-action="NoActivos">Ver Elementos no Activos</a>
</p>
<table id="myTableElementos" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca.MarcaElemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modelo.ModeloElemento)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Area.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ubicacion.UbicacionElemento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ElementoID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
        
            <td>
                @Html.DisplayFor(modelItem => item.Marca.MarcaElemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo.ModeloElemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ubicacion.UbicacionElemento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td style="text-align:center">
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.ElementoID"><i class="fas fa-edit"></i> </a>
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.ElementoID"><i class="fas fa-receipt"></i> </a>
                <button data-id="@item.ElementoID" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog"><i class="fas fa-trash-alt"></i></button>
            </td>
        </tr>
        }
    </tbody>
</table>

<partial name="_DeleteDialog" />
@section Scripts{
    <script>
        $(document).ready(function () {
            $('#myTableElementos').DataTable();

            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;

            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Elementos/Delete/' + item_to_delete;

            });
        });
    </script>
}
