@model IEnumerable<Firefighters.Web.Data.Entities.Ubicacion>

@{
    ViewData["Title"] = "Index";
}
    <h2 class="text-center">UBICACIONES</h2>
<p>
    <a asp-action="Create">Crear Ubicación</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UbicacionElemento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UbicacionElemento)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UbicacionID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.UbicacionID">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.UbicacionID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
