@model Firefighters.Web.Data.Entities.Siniestro

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Siniestro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaSiniestro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaSiniestro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denunciante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denunciante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Damnificado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Damnificado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DirUbicación)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DirUbicación)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RutaKm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RutaKm)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SiniestroID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
