@model Firefighters.Web.Data.Entities.Siniestro

@{
    ViewData["Title"] = "Detalles";
}

<h4>Detalle Siniestro</h4>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Denunciante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Denunciante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TelDeununciante)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TelDeununciante)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Damnificado)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Damnificado)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TelDamnificado)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.TelDamnificado)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.DirUbicación)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.DirUbicación)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Localidad)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Localidad.NombreLocalidad)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.RutaKm)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.RutaKm)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.FechaSiniestro) /  @Html.DisplayNameFor(model => model.HoraSiniestro)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.FechaSiniestro) /  @Html.DisplayFor(model => model.HoraSiniestro)
        </dd>

        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Emergencia)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Emergencia.TipoEmergencia)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>
        <dd class="col-sm-8">
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

    </dl>
</div>
<hr class="sidebar-divider">
<div>
    <a class="btn btn-primary col-4" asp-action="Edit" asp-route-id="@Model.SiniestroID"><i class="fas fa-edit"></i>&nbsp;Editar </a>
    <a asp-action="Index" class="btn btn-secondary col-4"><i class="fas fa-long-arrow-alt-left"></i>&nbsp;Volver Listado</a>
</div>
