@model IEnumerable<Firefighters.Web.Data.Entities.Area>

@{
    ViewData["Title"] = "AREAS";
}

<h2 class="text-center">AREAS</h2>

<p>
    <a asp-action="Create">Crear Area</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LlevaInventario)
            </th>
            <th class="text-center">OPCIONES</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                @if (item.LlevaInventario == true)
                { <a>SI</a>}
                @if (item.LlevaInventario == false)
                {<a>NO</a> }

                @*@Html.DisplayFor(modelItem => item.LlevaInventario)*@
            </td>
            <td class="text-center">
                <a asp-action="Edit" asp-route-id="@item.AreaID">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AreaID">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.AreaID">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
